.nav {
  display: flex;
  list-style: none;

  &__link {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--brand-color);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 46px;
  }

  &__link:focus,
  &__link:hover {
    color: $hoverColor;
  }
}
